In [13]:
import pandas as pd

run = pd.read_pickle("evaluations/testdev_base_clipbase_owllarge/results_snapshot.pkl")
run_with_skips = run
run = run[~run["skipped"]]
run["model_response"] = run["model_response"].apply(lambda x: x[0] if x != "UNSAT" else "UNSAT")

/var/folders/zf/q48kqz_93lz349jpplht237w0000gn/T/ipykernel_83005/664880102.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run["model_response"] = run["model_response"].apply(lambda x: x[0] if x != "UNSAT" else "UNSAT")

In [2]:
import re 

for i, row in run.iterrows():
    with open(f"../data/encoded_questions/{row['question_id']}.lp") as f:
        question_encoding = f.read()
    
    run.loc[i, "has_select"] = bool(re.search("select\(", question_encoding))
    run.loc[i, "has_filter"] = bool(re.search("filter\(", question_encoding))
    run.loc[i, "has_filter_any"] = bool(re.search("filter_any\(", question_encoding))
    run.loc[i, "has_relate"] = bool(re.search("relate\(", question_encoding)) 
    run.loc[i, "has_relate_any"] = bool(re.search("relate_any\(", question_encoding))
    run.loc[i, "has_relate_attr"] = bool(re.search("relate_attr\(", question_encoding))
    run.loc[i, "has_compare"] = bool(re.search("compare\(", question_encoding))
    run.loc[i, "has_query_attr"] = bool(re.search("query\(\w+, \w+, name\)", question_encoding))
    run.loc[i, "has_query_name"] = bool(re.search("query\(\w+, \w+, (?!name)\w+\)", question_encoding))
    run.loc[i, "has_verify_attr"] = bool(re.search("verify_attr\(", question_encoding))
    run.loc[i, "has_verify_rel"] = bool(re.search("verify_rel\(", question_encoding))
    run.loc[i, "has_choose_attr"] = bool(re.search("choose_attr\(", question_encoding))
    run.loc[i, "has_choose_rel"] = bool(re.search("choose_rel\(", question_encoding))
    
    run.loc[i, "has_exist"] = bool(re.search("exist\(", question_encoding))
    run.loc[i, "has_two_same"] = bool(re.search("two_same\(", question_encoding))
    run.loc[i, "has_two_different"] = bool(re.search("two_different\(", question_encoding))
    run.loc[i, "has_all_same"] = bool(re.search("all_same\(", question_encoding))
    run.loc[i, "has_all_different"] = bool(re.search("all_different\(", question_encoding))
    run.loc[i, "has_common"] = bool(re.search("common\(", question_encoding))
    run.loc[i, "has_and"] = bool(re.search("and\(", question_encoding))
    run.loc[i, "has_or"] = bool(re.search("or\(", question_encoding))

/tmp/ipykernel_1132731/3510796415.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_select"] = bool(re.search("select\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_filter"] = bool(re.search("filter\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_filter_any"] = bool(re.search("filter_any\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_relate"] = bool(re.search("relate\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_relate_any"] = bool(re.search("relate_any\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_relate_attr"] = bool(re.search("relate_attr\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_compare"] = bool(re.search("compare\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_query_attr"] = bool(re.search("query\(\w+, \w+, name\)", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_query_name"] = bool(re.search("query\(\w+, \w+, (?!name)\w+\)", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_verify_attr"] = bool(re.search("verify_attr\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_verify_rel"] = bool(re.search("verify_rel\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_choose_attr"] = bool(re.search("choose_attr\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_choose_rel"] = bool(re.search("choose_rel\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_exist"] = bool(re.search("exist\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_two_same"] = bool(re.search("two_same\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_two_different"] = bool(re.search("two_different\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_all_same"] = bool(re.search("all_same\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_all_different"] = bool(re.search("all_different\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_common"] = bool(re.search("common\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_and"] = bool(re.search("and\(", question_encoding))
/tmp/ipykernel_1132731/3510796415.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run.loc[i, "has_or"] = bool(re.search("or\(", question_encoding))

In [3]:
op_types = [t[4:] for t in list(run) if t.startswith("has_")]
percentages = []

# question type
percentages.append({
    "name": "all",
    "correct": run[run["correct"]].shape[0] / run.shape[0]
})
binary = run[(run["answer"] == "no") | (run["answer"] == "yes")]
percentages.append({
    "name": "binary",
    "correct": binary[binary["correct"]].shape[0] / binary.shape[0]
})
open = run[(run["answer"] != "no") & (run["answer"] != "yes")]
percentages.append({
    "name": "open",
    "correct": open[open["correct"]].shape[0] / open.shape[0]
})

# operations
for op in op_types:
    percentages.append({
        "name": op,
        "correct": run[run[f"has_{op}"] & run["correct"]].shape[0] / max(run[run[f"has_{op}"]].shape[0], 1)
    })
    
results = pd.DataFrame(percentages)
results["correct"] = results["correct"] * 100
print(results.style.format(precision=2).hide(axis="index").to_latex())

\begin{tabular}{lr}
name & correct \\
all & 41.46 \\
binary & 57.76 \\
open & 32.23 \\
select & 41.46 \\
filter & 43.71 \\
filter_any & 40.22 \\
relate & 38.58 \\
relate_any & 7.61 \\
relate_attr & 24.00 \\
compare & 30.43 \\
query_attr & 23.61 \\
query_name & 38.51 \\
verify_attr & 61.46 \\
verify_rel & 55.66 \\
choose_attr & 65.70 \\
choose_rel & 47.87 \\
exist & 58.01 \\
two_same & 42.48 \\
two_different & 40.58 \\
all_same & 80.95 \\
all_different & 60.00 \\
common & 14.58 \\
and & 56.46 \\
or & 56.03 \\
\end{tabular}

In [4]:
run[run["has_relate_any"]][["question_id", "semantic_str", "answer", "model_response"]]

,question_id,semantic_str,answer,model_response
6,20567512,"select: airplane (11)->relate: _,flying above,...",ocean,[moon]
9,201079951,select: window (0)->filter: open [0]->relate: ...,drapes,[mirror]
10,201079952,"select: window (0)->relate: _,around,s (12) [0...",drapes,[mirror]
13,202218649,"select: chalkboard (0)->relate: _,hanging abov...",picture,[toaster_oven]
24,20982539,select: person (6)->filter fatness: skinny [0]...,table,[sweater]
...,...,...,...,...
12537,201935187,"select: building (11)->relate: lamp,in front o...",tree,[dining_table]
12557,201935363,"select: camera (9)->relate: woman,to the right...",bricks,[dining_table]
12559,202040263,"select: platform (4)->relate: train,near,s (0)...",train station,[handbag]
12566,201535906,"select: rope (7)->relate: _,attached to,o (10)...",coat,UNSAT
12576,20602949,"select: horse (0)->relate: _,running across,o ...",ground,[sky]

In [25]:
run[run["correct"]].shape[0] / run.shape[0]

0.40289121202221495

In [5]:
run["runtime_sec"].mean()

0.9938848002138715

In [10]:
run["model_response"] = run["model_response"].str[0]

/tmp/ipykernel_466951/2138938923.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run["model_response"] = run["model_response"].str[0]

In [5]:
run.to_csv("testdev_base_clipbase_owllarge.csv")

## Semantic Answer Similarity

In [77]:
import sys
import os
sys.path.insert(0, os.path.abspath("../src"))
sys.path.insert(0, os.path.abspath("../externals"))

from pipeline.encoding import sanitize_asp

def sanitize_answer(row):
    model_response = row["model_response"]
    answer = row["answer"]
    if model_response == "to_the_left_of" and answer == "left":
        return "to_the_left_of"
    elif model_response == "to_the_right_of" and answer == "right":
        return "to_the_right_of"
    elif model_response == "in_front_of" and answer == "front":
        return "in_front_of"
    else:
        return sanitize_asp(answer)

run["answer_sanitized"] = run.apply(sanitize_answer, axis=1)

/var/folders/zf/q48kqz_93lz349jpplht237w0000gn/T/ipykernel_83005/1484579369.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run["answer_sanitized"] = run.apply(sanitize_answer, axis=1)

In [80]:
run_open = run[(run["answer"] != "yes") & (run["answer"] != "no")]

In [81]:
from sentence_transformers import SentenceTransformer, util
st_model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [82]:
def semantic_similarity(row):
    if row["model_response"] == "UNSAT":
        return 0.0
    else:
        encodings = st_model.encode([row["answer_sanitized"], row["model_response"]], convert_to_tensor=True)
        return util.cos_sim(encodings[0], encodings[1])[0,0].item()

run_open["answer_similarity"] = run_open.apply(semantic_similarity, axis=1)

/var/folders/zf/q48kqz_93lz349jpplht237w0000gn/T/ipykernel_83005/2207682893.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run_open["answer_similarity"] = run_open.apply(semantic_similarity, axis=1)

In [83]:
run_open.to_csv("testdev_base_clipbase_owllarge_open.csv")

In [88]:
from nltk.corpus import wordnet as wn

def get_antonyms(word):
    antonyms = set()
    for syn in wn.synsets(word):
        for l in syn.lemmas():
            if l.antonyms():
                antonyms.add(l.antonyms()[0].name())
    return antonyms

run["is_antonym"] = run.apply(lambda row: row["model_response"].replace("_", " ") in get_antonyms(row["answer_sanitized"].replace("_", " ")), axis=1)

/var/folders/zf/q48kqz_93lz349jpplht237w0000gn/T/ipykernel_83005/3394329750.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  run["is_antonym"] = run.apply(lambda row: row["model_response"].replace("_", " ") in get_antonyms(row["answer_sanitized"].replace("_", " ")), axis=1)

In [151]:
run_open[(run_open["answer_similarity"] > 0.60) & (run_open["answer_similarity"] < 0.99) & ~(run_open["is_antonym"])][["answer_sanitized", "model_response"]]

      answer_sanitized model_response
50               white           blue
77               stove      gas_stove
84         light_brown     dark_brown
86                gown          dress
90                gown          dress
...                ...            ...
12527             sofa          couch
12528             sofa          couch
12531             sofa          couch
12550            black           gray
12570              car            suv

[830 rows x 2 columns]

In [156]:
similar_answers = list(run_open[(run_open["answer_similarity"] > 0.50) & (run_open["answer_similarity"] < 0.99) & ~(run_open["is_antonym"])][["answer_sanitized", "model_response"]].iterrows())

In [157]:
similar_answers

[(22,
  answer_sanitized     white
  model_response      orange
  Name: 22, dtype: object),
 (38,
  answer_sanitized    concrete
  model_response      aluminum
  Name: 38, dtype: object),
 (40,
  answer_sanitized    concrete
  model_response      aluminum
  Name: 40, dtype: object),
 (50,
  answer_sanitized    white
  model_response       blue
  Name: 50, dtype: object),
 (64,
  answer_sanitized     dense
  model_response      sparse
  Name: 64, dtype: object),
 (71,
  answer_sanitized            beige
  model_response      cream_colored
  Name: 71, dtype: object),
 (77,
  answer_sanitized        stove
  model_response      gas_stove
  Name: 77, dtype: object),
 (81,
  answer_sanitized      field
  model_response      stadium
  Name: 81, dtype: object),
 (84,
  answer_sanitized    light_brown
  model_response       dark_brown
  Name: 84, dtype: object),
 (86,
  answer_sanitized     gown
  model_response      dress
  Name: 86, dtype: object),
 (88,
  answer_sanitized    glove
  model_response       coat
  Name: 88, dtype: object),
 (89,
  answer_sanitized    glove
  model_response       coat
  Name: 89, dtype: object),
 (90,
  answer_sanitized     gown
  model_response      dress
  Name: 90, dtype: object),
 (93,
  answer_sanitized           table
  model_response      dining_table
  Name: 93, dtype: object),
 (104,
  answer_sanitized            black
  model_response      cream_colored
  Name: 104, dtype: object),
 (110,
  answer_sanitized      car
  model_response      truck
  Name: 110, dtype: object),
 (111,
  answer_sanitized      car
  model_response      truck
  Name: 111, dtype: object),
 (113,
  answer_sanitized      car
  model_response      truck
  Name: 113, dtype: object),
 (114,
  answer_sanitized      car
  model_response      truck
  Name: 114, dtype: object),
 (121,
  answer_sanitized     white
  model_response      orange
  Name: 121, dtype: object),
 (123,
  answer_sanitized      cloth
  model_response      leather
  Name: 123, dtype: object),
 (128,
  answer_sanitized           table
  model_response      dining_table
  Name: 128, dtype: object),
 (129,
  answer_sanitized       blond
  model_response      brunette
  Name: 129, dtype: object),
 (133,
  answer_sanitized    child
  model_response        boy
  Name: 133, dtype: object),
 (151,
  answer_sanitized    policeman
  model_response        officer
  Name: 151, dtype: object),
 (154,
  answer_sanitized      gray
  model_response      orange
  Name: 154, dtype: object),
 (176,
  answer_sanitized    sofa
  model_response       bed
  Name: 176, dtype: object),
 (180,
  answer_sanitized    sofa
  model_response       bed
  Name: 180, dtype: object),
 (182,
  answer_sanitized       robe
  model_response      sweater
  Name: 182, dtype: object),
 (184,
  answer_sanitized       white
  model_response      brunette
  Name: 184, dtype: object),
 (238,
  answer_sanitized    truck
  model_response        car
  Name: 238, dtype: object),
 (239,
  answer_sanitized    shelf
  model_response       desk
  Name: 239, dtype: object),
 (240,
  answer_sanitized    shelf
  model_response       desk
  Name: 240, dtype: object),
 (244,
  answer_sanitized    stuffed_bear
  model_response        teddy_bear
  Name: 244, dtype: object),
 (257,
  answer_sanitized    small
  model_response       tiny
  Name: 257, dtype: object),
 (265,
  answer_sanitized    white
  model_response      green
  Name: 265, dtype: object),
 (268,
  answer_sanitized    coat
  model_response       hat
  Name: 268, dtype: object),
 (270,
  answer_sanitized    coat
  model_response       hat
  Name: 270, dtype: object),
 (271,
  answer_sanitized    brown
  model_response      blond
  Name: 271, dtype: object),
 (276,
  answer_sanitized    purple
  model_response         red
  Name: 276, dtype: object),
 (278,
  answer_sanitized      blue
  model_response      silver
  Name: 278, dtype: object),
 (297,
  answer_sanitized        gray
  model_response      brunette
  Name: 297, dtype: object),
 (304,
  answer_sanitized      glass
  model_response      plastic
  Name: 304, dtype: object),
 (308,
  answer_sanitized     umpire
  model_response      catcher
  Name: 308, dtype: object),
 (312,
  answer_sanitized         table
  model_response      side_table
  Name: 312, dtype: object),
 (328,
  answer_sanitized     woman
  model_response      person
  Name: 328, dtype: object),
 (332,
  answer_sanitized         square
  model_response      rectangular
  Name: 332, dtype: object),
 (344,
  answer_sanitized    black
  model_response        red
  Name: 344, dtype: object),
 (345,
  answer_sanitized       bird
  model_response      seagull
  Name: 345, dtype: object),
 (365,
  answer_sanitized        stove
  model_response      gas_stove
  Name: 365, dtype: object),
 (367,
  answer_sanitized    dress_shirt
  model_response       cell_phone
  Name: 367, dtype: object),
 (368,
  answer_sanitized    dress_shirt
  model_response       cell_phone
  Name: 368, dtype: object),
 (372,
  answer_sanitized    gray
  model_response       red
  Name: 372, dtype: object),
 (378,
  answer_sanitized      cloth
  model_response      leather
  Name: 378, dtype: object),
 (389,
  answer_sanitized    shelf
  model_response       desk
  Name: 389, dtype: object),
 (391,
  answer_sanitized    sausage
  model_response        pizza
  Name: 391, dtype: object),
 (392,
  answer_sanitized    sausage
  model_response        pizza
  Name: 392, dtype: object),
 (402,
  answer_sanitized          brown
  model_response      light_brown
  Name: 402, dtype: object),
 (404,
  answer_sanitized         black
  model_response      dark_brown
  Name: 404, dtype: object),
 (417,
  answer_sanitized    tennis_ball
  model_response             ball
  Name: 417, dtype: object),
 (425,
  answer_sanitized             bat
  model_response      baseball_bat
  Name: 425, dtype: object),
 (427,
  answer_sanitized             bat
  model_response      baseball_bat
  Name: 427, dtype: object),
 (430,
  answer_sanitized    broccoli
  model_response       cabbage
  Name: 430, dtype: object),
 (431,
  answer_sanitized      home_plate
  model_response      baseball_bat
  Name: 431, dtype: object),
 (467,
  answer_sanitized      purse
  model_response      handbag
  Name: 467, dtype: object),
 (470,
  answer_sanitized      purse
  model_response      handbag
  Name: 470, dtype: object),
 (473,
  answer_sanitized        gray
  model_response      brunette
  Name: 473, dtype: object),
 (489,
  answer_sanitized    short_sleeved
  model_response       long_sleeved
  Name: 489, dtype: object),
 (490,
  answer_sanitized      baking_pan
  model_response      pizza_cutter
  Name: 490, dtype: object),
 (494,
  answer_sanitized     triangular
  model_response      rectangular
  Name: 494, dtype: object),
 (497,
  answer_sanitized              metal
  model_response      stainless_steel
  Name: 497, dtype: object),
 (503,
  answer_sanitized     gray
  model_response      green
  Name: 503, dtype: object),
 (518,
  answer_sanitized       red
  model_response      yellow
  Name: 518, dtype: object),
 (520,
  answer_sanitized     gown
  model_response      dress
  Name: 520, dtype: object),
 (525,
  answer_sanitized              metal
  model_response      stainless_steel
  Name: 525, dtype: object),
 (527,
  answer_sanitized     concrete
  model_response      porcelain
  Name: 527, dtype: object),
 (533,
  answer_sanitized    pizza_box
  model_response            box
  Name: 533, dtype: object),
 (553,
  answer_sanitized     woman
  model_response      person
  Name: 553, dtype: object),
 (556,
  answer_sanitized     umpire
  model_response      catcher
  Name: 556, dtype: object),
 (562,
  answer_sanitized    pants
  model_response      jeans
  Name: 562, dtype: object),
 (571,
  answer_sanitized    black
  model_response        red
  Name: 571, dtype: object),
 (576,
  answer_sanitized    computer_mouse
  model_response            keyboard
  Name: 576, dtype: object),
 (595,
  answer_sanitized         square
  model_response      rectangular
  Name: 595, dtype: object),
 (603,
  answer_sanitized    sofa
  model_response       bed
  Name: 603, dtype: object),
 (638,
  answer_sanitized     white
  model_response      purple
  Name: 638, dtype: object),
 (642,
  answer_sanitized           bed
  model_response      nightstand
  Name: 642, dtype: object),
 (658,
  answer_sanitized       glass
  model_response      aluminum
  Name: 658, dtype: object),
 (667,
  answer_sanitized    sparse
  model_response       dense
  Name: 667, dtype: object),
 (680,
  answer_sanitized     umpire
  model_response      catcher
  Name: 680, dtype: object),
 (700,
  answer_sanitized               left
  model_response      to_the_right_of
  Name: 700, dtype: object),
 (739,
  answer_sanitized     gray
  model_response      white
  Name: 739, dtype: object),
 (742,
  answer_sanitized       stuffed_dog
  model_response      stuffed_animal
  Name: 742, dtype: object),
 (745,
  answer_sanitized        table
  model_response      end_table
  Name: 745, dtype: object),
 (750,
  answer_sanitized               left
  model_response      to_the_right_of
  Name: 750, dtype: object),
 (755,
  answer_sanitized         oven
  model_response      gas_stove
  Name: 755, dtype: object),
 (758,
  answer_sanitized      shirt
  model_response      sweater
  Name: 758, dtype: object),
 (760,
  answer_sanitized     black
  model_response      purple
  Name: 760, dtype: object),
 (769,
  answer_sanitized    goat
  model_response       cow
  Name: 769, dtype: object),
 (780,
  answer_sanitized          menu
  model_response      restaurant
  Name: 780, dtype: object),
 (783,
  answer_sanitized     desk
  model_response      couch
  Name: 783, dtype: object),
 (789,
  answer_sanitized    adida
  model_response       nike
  Name: 789, dtype: object),
 (797,
  answer_sanitized     street_sign
  model_response      traffic_sign
  Name: 797, dtype: object),
 (808,
  answer_sanitized    toilet_paper
  model_response       paper_towel
  Name: 808, dtype: object),
 (818,
  answer_sanitized    sweater
  model_response       kimono
  Name: 818, dtype: object),
 (828,
  answer_sanitized               left
  model_response      to_the_right_of
  Name: 828, dtype: object),
 (829,
  answer_sanitized    child
  model_response        boy
  Name: 829, dtype: object),
 (831,
  answer_sanitized    woman
  model_response       lady
  Name: 831, dtype: object),
 (837,
  answer_sanitized    tennis_ball
  model_response             ball
  Name: 837, dtype: object),
 (838,
  answer_sanitized    tennis_ball
  model_response             ball
  Name: 838, dtype: object),
 (845,
  answer_sanitized    small
  model_response       tiny
  Name: 845, dtype: object),
 (863,
  answer_sanitized      tan
  model_response      beige
  Name: 863, dtype: object),
 (869,
  answer_sanitized      red
  model_response      green
  Name: 869, dtype: object),
 (870,
  answer_sanitized         behind
  model_response      in_front_of
  Name: 870, dtype: object),
 (876,
  answer_sanitized    black
  model_response      blond
  Name: 876, dtype: object),
 (878,
  answer_sanitized    concrete
  model_response       plastic
  Name: 878, dtype: object),
 (882,
  answer_sanitized    concrete
  model_response       plastic
  Name: 882, dtype: object),
 (901,
  answer_sanitized         truck
  model_response      fire_truck
  Name: 901, dtype: object),
 (914,
  answer_sanitized    black
  model_response       gray
  Name: 914, dtype: object),
 (927,
  answer_sanitized    jacket
  model_response         hat
  Name: 927, dtype: object),
 (931,
  answer_sanitized           stove
  model_response      refrigerator
  Name: 931, dtype: object),
 (958,
  answer_sanitized     small
  model_response      little
  Name: 958, dtype: object),
 (960,
  answer_sanitized    chair
  model_response      couch
  Name: 960, dtype: object),
 (970,
  answer_sanitized    metal
  model_response       iron
  Name: 970, dtype: object),
 (975,
  answer_sanitized       white
  model_response      brunette
  Name: 975, dtype: object),
 (995,
  answer_sanitized     shirt
  model_response      blouse
  Name: 995, dtype: object),
 (1003,
  answer_sanitized    black
  model_response       gray
  Name: 1003, dtype: object),
 (1013,
  answer_sanitized    sofa
  model_response       bed
  Name: 1013, dtype: object),
 (1020,
  answer_sanitized        blouse
  model_response      sweatshirt
  Name: 1020, dtype: object),
 (1029,
  answer_sanitized    shirt
  model_response      jeans
  Name: 1029, dtype: object),
 (1035,
  answer_sanitized      plastic
  model_response      porcelain
  Name: 1035, dtype: object),
 (1036,
  answer_sanitized      plastic
  model_response      porcelain
  Name: 1036, dtype: object),
 (1054,
  answer_sanitized    computer
  model_response        laptop
  Name: 1054, dtype: object),
 (1078,
  answer_sanitized    white
  model_response      green
  Name: 1078, dtype: object),
 (1085,
  answer_sanitized     red
  model_response      blue
  Name: 1085, dtype: object),
 (1094,
  answer_sanitized    tennis_ball
  model_response             ball
  Name: 1094, dtype: object),
 (1095,
  answer_sanitized       oven
  model_response      toaster
  Name: 1095, dtype: object),
 (1099,
  answer_sanitized       square
  model_response      octagonal
  Name: 1099, dtype: object),
 (1115,
  answer_sanitized      bus
  model_response      train
  Name: 1115, dtype: object),
 (1127,
  answer_sanitized    traffic_light
  model_response      light_fixture
  Name: 1127, dtype: object),
 (1133,
  answer_sanitized               left
  model_response      to_the_right_of
  Name: 1133, dtype: object),
 (1139,
  answer_sanitized           table
  model_response      dining_table
  Name: 1139, dtype: object),
 (1152,
  answer_sanitized     desk
  model_response      chair
  Name: 1152, dtype: object),
 (1156,
  answer_sanitized          round
  model_response      rectangular
  Name: 1156, dtype: object),
 (1177,
  answer_sanitized     woman
  model_response      person
  Name: 1177, dtype: object),
 (1192,
  answer_sanitized     beige
  model_response      orange
  Name: 1192, dtype: object),
 (1212,
  answer_sanitized     umpire
  model_response      catcher
  Name: 1212, dtype: object),
 (1215,
  answer_sanitized        blue
  model_response      brunette
  Name: 1215, dtype: object),
 (1223,
  answer_sanitized         phone
  model_response      cell_phone
  Name: 1223, dtype: object),
 (1246,
  answer_sanitized     umpire
  model_response      catcher
  Name: 1246, dtype: object),
 (1256,
  answer_sanitized       wood
  model_response      leather
  Name: 1256, dtype: object),
 (1284,
  answer_sanitized       cabinet
  model_response      nightstand
  Name: 1284, dtype: object),
 (1293,
  answer_sanitized    large
  model_response      giant
  Name: 1293, dtype: object),
 (1296,
  answer_sanitized    pitcher
  model_response        mound
  Name: 1296, dtype: object),
 (1297,
  answer_sanitized    pitcher
  model_response        mound
  Name: 1297, dtype: object),
 (1298,
  answer_sanitized    pitcher
  model_response        mound
  Name: 1298, dtype: object),
 (1299,
  answer_sanitized    flower_pot
  model_response             pot
  Name: 1299, dtype: object),
 (1302,
  answer_sanitized    tennis_ball
  model_response           racket
  Name: 1302, dtype: object),
 (1303,
  answer_sanitized    pitcher
  model_response        mound
  Name: 1303, dtype: object),
 (1320,
  answer_sanitized    black
  model_response       gray
  Name: 1320, dtype: object),
 (1326,
  answer_sanitized    car
  model_response      suv
  Name: 1326, dtype: object),
 (1331,
  answer_sanitized    short_sleeved
  model_response         sleeveless
  Name: 1331, dtype: object),
 (1332,
  answer_sanitized               left
  model_response      to_the_right_of
  Name: 1332, dtype: object),
 (1333,
  answer_sanitized     blouse
  model_response      sweater
  Name: 1333, dtype: object),
 (1335,
  answer_sanitized       brown
  model_response      brunette
  Name: 1335, dtype: object),
 (1339,
  answer_sanitized    chicken
  model_response        steak
  Name: 1339, dtype: object),
 (1341,
  answer_sanitized       wood
  model_response      leather
  Name: 1341, dtype: object),
 (1346,
  answer_sanitized         truck
  model_response      fire_truck
  Name: 1346, dtype: object),
 (1354,
  answer_sanitized           table
  model_response      picnic_table
  Name: 1354, dtype: object),
 (1368,
  answer_sanitized         truck
  model_response      fire_truck
  Name: 1368, dtype: object),
 (1374,
  answer_sanitized         phone
  model_response      cell_phone
  Name: 1374, dtype: object),
 (1377,
  answer_sanitized         phone
  model_response      cell_phone
  Name: 1377, dtype: object),
 (1380,
  answer_sanitized     front
  model_response      behind
  Name: 1380, dtype: object),
 (1391,
  answer_sanitized        shelf
  model_response      bookshelf
  Name: 1391, dtype: object),
 (1394,
  answer_sanitized    shelf
  model_response       desk
  Name: 1394, dtype: object),
 (1395,
  answer_sanitized    shelf
  model_response       desk
  Name: 1395, dtype: object),
 (1407,
  answer_sanitized     white
  model_response      orange
  Name: 1407, dtype: object),
 (1420,
  answer_sanitized        shelf
  model_response      bookshelf
  Name: 1420, dtype: object),
 (1425,
  answer_sanitized    short_sleeved
  model_response       long_sleeved
  Name: 1425, dtype: object),
 (1459,
  answer_sanitized    player
  model_response      person
  Name: 1459, dtype: object),
 (1460,
  answer_sanitized    player
  model_response      person
  Name: 1460, dtype: object),
 (1468,
  answer_sanitized    black
  model_response        red
  Name: 1468, dtype: object),
 (1475,
  answer_sanitized    plastic
  model_response      leather
  Name: 1475, dtype: object),
 (1490,
  answer_sanitized     white
  model_response      silver
  Name: 1490, dtype: object),
 (1500,
  answer_sanitized        shelf
  model_response      bookshelf
  Name: 1500, dtype: object),
 (1504,
  answer_sanitized    orange
  model_response       white
  Name: 1504, dtype: object),
 (1508,
  answer_sanitized          blue
  model_response      light_blue
  Name: 1508, dtype: object),
 (1512,
  answer_sanitized    computer_desk
  model_response         cell_phone
  Name: 1512, dtype: object),
 (1520,
  answer_sanitized    street
  model_response        road
  Name: 1520, dtype: object),
 (1526,
  answer_sanitized        stove
  model_response      gas_stove
  Name: 1526, dtype: object),
 (1529,
  answer_sanitized           table
  model_response      dining_table
  Name: 1529, dtype: object),
 (1537,
  answer_sanitized    black
  model_response       dark
  Name: 1537, dtype: object),
 (1542,
  answer_sanitized    beige
  model_response      blond
  Name: 1542, dtype: object),
 (1559,
  answer_sanitized    white
  model_response      blond
  Name: 1559, dtype: object),
 (1564,
  answer_sanitized    little
  model_response       small
  Name: 1564, dtype: object),
 (1570,
  answer_sanitized    player
  model_response      person
  Name: 1570, dtype: object),
 (1574,
  answer_sanitized    player
  model_response      person
  Name: 1574, dtype: object),
 (1575,
  answer_sanitized    player
  model_response      person
  Name: 1575, dtype: object),
 (1605,
  answer_sanitized     boat
  model_response      canoe
  Name: 1605, dtype: object),
 (1609,
  answer_sanitized         square
  model_response      rectangular
  Name: 1609, dtype: object),
 (1613,
  answer_sanitized    train_track
  model_response            train
  Name: 1613, dtype: object),
 (1615,
  answer_sanitized        stove
  model_response      gas_stove
  Name: 1615, dtype: object),
 (1624,
  answer_sanitized           table
  model_response      coffee_table
  Name: 1624, dtype: object),
 (1638,
  answer_sanitized    orange
  model_response         red
  Name: 1638, dtype: object),
 (1657,

In [134]:
len(similar_answers)

602

In [87]:
run_open[run_open["answer_similarity"] < 0.05].shape

(294, 24)